/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .loading {
    @apply animate-pulse bg-teal-200 text-teal-200 rounded pointer-events-none;
  }
  .number {
    font-feature-settings: "tnum";
    font-variant-numeric: "tabular-nums";
  }
  @variants group-hover, hover, responsive {
    .filter-grayscale {
      filter: grayscale(100%);
    }

    .filter-none {
      filter: none;
    }
  }
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: optional;
  font-style: oblique 0deg 10deg;
  src: url("/Inter.var.woff2?v=3.15") format("woff2");
}
